html {
  height: 100%;
}

@font-face {
  font-family: HiraginoSans;
  src: local('HiraginoSansGB-W3'), local('HiraKakuPro-W3');
  -moz-font-feature-settings: "cpct=1";
  -webkit-font-feature-settings: "cpct=1";
  font-feature-settings: "cpct=1";
}

body {
  height: 100%;
  font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, Geneva, HiraginoSans, "Microsoft Jhenghei", sans-serif;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

#header,
.sidebar_placeholder {
  width: 20%;
  height: 100%;
  min-width: 130px;
  max-width: 240px;
}

#header {
  background: rgba(250, 250, 250, .9);
  color: #3AA2EB;
  text-align: right;
  box-shadow: 0px 0.1em 0.3em rgba(0,0,0,.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
#header h1 {
  font: 180%/1.666 Satisfy, cursive;
  text-transform: lowercase;
  margin: 1.666667em 0.8333333em 0.8333333em 0;
}

/* @group Global Nav */
#header a {
  color: #777;
  text-decoration: none;
  text-shadow: 0 2px #fff;
}
#header a:hover {
  text-decoration: underline;
}
#header ul.global_nav {
  margin-right: 1.5em;
}
#header ul.global_nav li {
  font-size: 120%;
  line-height: 1.25;
  text-transform: uppercase;
}
#header ul.sub_nav li {
  font-size: 83.333%;
  line-height: 1.5;
  text-transform: none;
}
/* @end */

.sidebar_placeholder, #content {
  float: left;
}

#content {
  width: 80%;
  height: 100%;
  white-space: nowrap;
}

#content,
.post, .post a, .post img {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.post {
  max-width: 100%;
  margin-right: -0.3em;
  padding: 0 3%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.post a {
  height: 100%;
  padding: 5% 0;
  text-align: center;
  display: block;
}
.post img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0.1em 0.3em rgba(0,0,0,.75);
  padding: 1.5em;
}
.post.explicit {
  height: 100%;
}

.post .meta {
  max-width: 60%;
  background: rgba(58, 162, 235, 0.75);
  color: #eeeeee;
  box-shadow: 0px 0.1em 0.3em rgba(0,0,0,.75);
  text-shadow: 0 -1px 1px #999;
  padding: 0.75em 1.5em;
  white-space: normal;
  position: absolute;
  left: 2.5%;
  bottom: 10%;
}
.post .meta h3 {
  color: #fefefe;
}