html {
  height: 100%;
}

@font-face {
  font-family: HiraginoSans;
  src: local('HiraginoSansGB-W3'), local('HiraKakuPro-W3');
  -moz-font-feature-settings: "cpct=1";
  -webkit-font-feature-settings: "cpct=1";
  font-feature-settings: "cpct=1";
}

body {
  height: 100%;
  font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, Geneva, HiraginoSans, "Microsoft Jhenghei", sans-serif;
}

#container,
.article,
.article a,
.article img {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#container {
  height: 100%;
  padding: 3em 0 4.5em;
}

#header {
  width: 9em;
  height: 100%;
  background: rgba(250, 250, 250, .9);
  color: #3AA2EB;
  text-align: right;
  box-shadow: 0px 0.1em 0.3em rgba(0,0,0,.75);
  padding: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
#header h1 {
  font: 180%/1.666 Satisfy, cursive;
  text-transform: lowercase;
  margin: 0.8333333em 0;
}
#header a {
  color: #777;
  text-decoration: none;
  text-shadow: 0 2px #fff;
}
#header a:hover {
  text-decoration: underline;
}
#header ul.global_nav li {
  font-size: 120%;
  line-height: 1.25;
  text-transform: uppercase;
}
#header ul.sub_nav li {
  font-size: 83.333%;
  line-height: 1.5;
  text-transform: none;
}

#content {
  width: 80%;
  height: 100%;
  margin-left: 12em;
  position: relative;
  white-space: nowrap;
}

.article {
  padding: 0 3em;
  border-right: 1px solid #feca00;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.article:last-child {
  border-right: none;
}
.article a {
  box-shadow: 0px 0.1em 0.3em rgba(0,0,0,.75);
  display: block;
}
.article img {
  max-width: 100%;
  max-height: 100%;
  padding: 1.5em;
  display: block;
}
.article .meta {
  max-width: 55%;
  background: rgba(58, 162, 235, 0.75);
  color: #eeeeee;
  /*border: 1px solid #1480cb;*/
  /*border: 1px solid rgba(255,255,255,.5);*/
  box-shadow: 0px 0.1em 0.3em rgba(0,0,0,.75);
  text-shadow: 0 -1px 1px #999;
  padding: 0.75em 1.5em;
  position: absolute;
  left: 1.5em;
  bottom: 5%;
}
.article .meta h3 {
  color: #fefefe;
}